/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2rem;

  /*========== Colors ==========*/
  --title-color: hsl(229, 31%, 21%);
  --title-alt-color: hsl(232, 8%, 38%);
  --text-color: hsl(229, 8%, 60%);
  --text-alt-color: hsl(0, 0%, 97%);
  --scroll-color: hsla(0, 0%, 100%, 0.8);
  --transparent-bg-color: hsla(230, 52%, 15%, 0.9);

  --button-shadow-color: hsla(229, 8%, 60%, 0.2);

  --soft-blue-color: hsl(231, 69%, 60%);
  --soft-red-color: hsl(0, 94%, 66%);
  --white-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --body-font: 'Rubik', sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.35rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== RESPONSIVE TYPOGRAPHY ===============*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  color: var(--text-color);
}

h1,h2,h3{
  font-family: var(--body-font);
  color: var(--title-color);
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

button,
input{
  font-family: var(--body-font);
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
}

span{
  line-height: 1.6rem;
  text-align: center;
  margin: 0 var(--mb-1);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 0;
  margin-bottom: 5rem;
}

.section__title{
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

.button{
  box-sizing: border-box;
  color: var(--text-alt-color);
  background-color: var(--soft-blue-color);
  border-radius: .4rem;
  padding: var(--mb-1) var(--mb-1);
  margin-top: var(--mb-1-5);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 6px 4px hsla(0, 0%, 1%, .1);
  border: 1px solid transparent;
  transition: .6s;
  width: 160px;
}

.button:hover{
  color: var(--soft-blue-color);
  background-color: var(--white-color);
  border-color: var(--soft-blue-color);
}

.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--mb-1);
  margin: 0 var(--mb-1) var(--mb-3) var(--mb-1);
}

/*=============== LAYOUT ===============*/

.main{
  overflow: hidden; /* For animation and images*/
}

.grid{
  display: grid;
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  padding-top: var(--header-height);
  position: fixed;
  z-index: var(--z-fixed);
  background: transparent;
  transition: .4s;
  padding: var(--mb-1) 0;
}

.scroll-header{
  background-color: var(--scroll-color);
}

/*=============== NAV ===============*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--mb-1);
}

.nav__toggle{
  margin-right: var(--mb-1);
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--transparent-bg-color);
    top: 0%;
    left: 100%;
    width: 100%;
    padding: 7rem 0 28rem 0;
    transition: .4s;
    z-index: var(--z-tooltip);
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
}

.nav__link{
  display: flex;
  justify-content: center;
  font-size: var(--h2-font-size);
  color: var(--white-color);
  font-weight: var(--font-light);
  letter-spacing: .2rem;
  padding: var(--mb-1-5) 0;
}

.nav__item{
  width: 80%;
}

.nav__item:nth-child(1),
.nav__item:nth-child(3){
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--text-color);
}

.nav__item{
  align-self: center;
}

.nav__login{
  display: flex;
  justify-content: center;
  padding: var(--mb-2) 0;
  margin: 0 20%;
}

.nav-button{
  font-weight: var(--font-regular);
  color: var(--white-color);
  background: transparent;
  letter-spacing: .2rem;
  border: 2px solid;
  border-radius: .3rem;
  margin-top: var(--mb-1-5);
  padding: var(--mb-0-5) 0;
}

.nav__logo-alt{
  position: absolute;
  top: 0%;
  margin: var(--mb-1) 0 0 var(--mb-1);
}

.nav__close{
  position: absolute;
  cursor: pointer;
  height: 18px;
  right: 0%;
  top: 0%;
  margin: var(--mb-1-5) var(--mb-2) 0 0;
  z-index: var(--z-tooltip);
}

.nav__social{
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  gap: var(--mb-2-5);
}

.nav__social-link{
  color: var(--white-color);
  font-size: 2rem;
}

/* show menu */
.show-menu{
  left: 0;
}

.hide{
  display: none;
}

/*=============== HOME ===============*/
.home{
  margin-top: calc(var(--header-height) + 29px + var(--mb-2));
  padding-bottom: var(--mb-1-5);
}

.home__container{
  gap: var(--mb-0-5);
}

.home__handle{
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-3);
}

.home__handle::after{
  content: '';
  position: absolute;
  right: 0%;
  width: 200px;
  height: 300px;
  background-color: var(--soft-blue-color);
  border-radius: 0rem 0rem 10rem 10rem;
  box-shadow: 5px 50px 4px rgba(148, 148, 148, 0.050);
  transform: rotate(90deg) translate(8px, 51px);
}

.home__img{
  width: 350px;
  z-index: var(--z-tooltip);
}

.home__description{
  text-align: center;
  margin: 0 var(--mb-1);
}

.home__buttons{
  display: flex;
  justify-content: center;
  gap: var(--mb-1);
}

.home__button:nth-child(2){
  color: var(--title-alt-color);
  background-color: var(--text-alt-color);
}

.home__button:nth-child(1):hover{
  color: var(--soft-blue-color);
  background-color: var(--white-color);
  border-color: var(--soft-blue-color);
}

.home__button:nth-child(2):hover{
  color: var(--title-color);
  background-color: var(--white-color);
  border-color: var(--title-color);
}

/*=============== FEATURES ===============*/
.features{
  position: relative;
}

.features__filter{
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-3);
}

.features__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  padding: var(--mb-1) 0;
  align-self: center;
  cursor: pointer;
  width: 80%;
}

.features__item:hover{
  color: var(--soft-red-color);
}

.features__item:nth-child(1),
.features__item:nth-child(3){
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: hsl(0, 0%, 90%);
}

.features__card{
  display: none;
  gap: var(--mb-3);
}

.features__card:nth-child(1){
  display: grid;
}

.features__handle{
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.features__handle::after{
  content: '';
  position: absolute;
  left: 0%;
  width: 200px;
  height: 300px;
  background-color: var(--soft-blue-color);
  border-radius: 0rem 0rem 10rem 10rem;
  transform: rotate(-90deg) translate(-40px, 50px);
}

.features__img{
  width: 300px;
  z-index: var(--z-tooltip);
}

.first-img{
  margin-top: var(--mb-3);
}

.active-link{
  color: var(--title-color);
  transition: .4s;
}

.active-link::after{
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  width: 150px;
  background: var(--soft-red-color);
  transform: translate(0, 28px);
  left: calc(50% - 150px / 2);
  transition: 1s;
}