/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2rem;

  /*========== Colors ==========*/
  --title-color: hsl(229, 31%, 21%);
  --title-alt-color: hsl(232, 8%, 38%);
  --text-color: hsl(229, 8%, 60%);
  --text-alt-color: hsl(0, 0%, 97%);
  --scroll-color: hsla(0, 0%, 100%, 0.8);
  --transparent-bg-color: hsla(230, 52%, 15%, 0.9);

  --button-shadow-color: hsla(229, 8%, 60%, 0.2);

  --soft-blue-color: hsl(231, 69%, 60%);
  --soft-red-color: hsl(0, 94%, 66%);
  --white-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --body-font: 'Rubik', sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.35rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --text-line-height: 2rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== RESPONSIVE TYPOGRAPHY ===============*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  /* margin: var(--header-height) 0 0 0; */
  font-family: var(--body-font);
  color: var(--text-color);
}

h1,h2,h3{
  font-family: var(--body-font);
  color: var(--title-color);
}

ul{
  list-style-type: none;
}

a{
  font-family: var(--body-font);
  color: var(--white-color);
  text-decoration: none;
}

button,
input{
  font-family: var(--body-font);
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
}

span{
  line-height: 1.6rem;
  text-align: center;
  margin: 0;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 0;
  margin-bottom: 5rem;
}

.section__title{
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin: 0 var(--mb-1)
}

.button{
  box-sizing: border-box;
  color: var(--text-alt-color);
  background-color: var(--soft-blue-color);
  border-radius: .4rem;
  padding: var(--mb-1) var(--mb-1);
  margin-top: var(--mb-1-5);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 6px 4px hsla(0, 0%, 1%, .1);
  border: 2px solid transparent;
  transition: .6s;
  width: 160px;
}

.button:hover{
  color: var(--soft-blue-color);
  background-color: var(--white-color);
  border-color: var(--soft-blue-color);
}

.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--mb-1);
  margin: 0 var(--mb-1) var(--mb-1) var(--mb-2);
}

/*=============== LAYOUT ===============*/

.main{
  overflow: hidden; /* For animation and images*/
}

.grid{
  display: grid;
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  padding-top: var(--header-height);
  position: fixed;
  z-index: var(--z-fixed);
  background: transparent;
  transition: .4s;
  padding: var(--mb-1) 0;
}

.scroll-header{
  background-color: var(--scroll-color);
}

/*=============== NAV ===============*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--mb-1);
}

.nav__toggle{
  margin-right: var(--mb-1);
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--transparent-bg-color);
    top: 0%;
    left: 100%;
    width: 100%;
    padding: 7rem 0 28rem 0;
    transition: .4s;
    z-index: var(--z-tooltip);
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
}

.nav__link{
  display: flex;
  justify-content: center;
  font-size: var(--h2-font-size);
  color: var(--white-color);
  font-weight: var(--font-light);
  letter-spacing: .2rem;
  padding: var(--mb-1-5) 0;
  transition: .4s;
}

.nav__link:hover{
  color: var(--soft-blue-color);
}

.nav__item{
  width: 80%;
}

.nav__item:nth-child(1),
.nav__item:nth-child(3){
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--text-color);
}

.nav__item{
  align-self: center;
}

.nav__login{
  display: flex;
  justify-content: center;
  padding: var(--mb-2) 0;
  margin: 0 20%;
}

.nav-button{
  font-weight: var(--font-regular);
  color: var(--white-color);
  background: transparent;
  letter-spacing: .2rem;
  border: 2px solid;
  border-radius: .3rem;
  margin-top: var(--mb-1-5);
  padding: var(--mb-0-5) 0;
  transition: .4s;
}

.nav-button:hover{
 color: var(--soft-blue-color);
}

.nav__logo-alt{
  position: absolute;
  top: 0%;
  margin: var(--mb-1) 0 0 var(--mb-1);
}

.nav__close{
  position: absolute;
  cursor: pointer;
  height: 18px;
  right: 0%;
  top: 0%;
  margin: var(--mb-1-5) var(--mb-2) 0 0;
  z-index: var(--z-tooltip);
}

.nav__social{
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  gap: var(--mb-2-5);
}

.nav__social-link{
  color: var(--white-color);
  font-size: 2rem;
  transition: .4s;
}

.nav__social-link:hover{
  color: var(--soft-blue-color);
}

/* show menu */
.show-menu{
  left: 0;
}

.hide{
  display: none;
}

/*=============== HOME ===============*/
.home{
  margin-top: calc(var(--header-height) + 29px + var(--mb-0-5));
  /* padding-bottom: var(--mb-1-5); */
}

.home__container{
  gap: var(--mb-0-5);
}

.home__handle{
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-1-5);
}

.home__handle::after{
  content: '';
  position: absolute;
  right: 0%;
  width: 180px;
  height: 320px;
  background-color: var(--soft-blue-color);
  border-radius: 0rem 0rem 10rem 10rem;
  box-shadow: 5px 50px 4px rgba(148, 148, 148, 0.050);
  transform: rotate(90deg) translate(-32px, 70px);
}

.home__img{
  width: 300px;
  z-index: var(--z-tooltip);
}

.home__description{
  text-align: center;
  margin: 0 var(--mb-1);
}

.home__buttons{
  display: flex;
  justify-content: center;
  gap: var(--mb-1);
}

.home__button:nth-child(2){
  color: var(--title-alt-color);
  background-color: var(--text-alt-color);
}

.home__button:nth-child(1):hover{
  color: var(--soft-blue-color);
  background-color: var(--white-color);
  border-color: var(--soft-blue-color);
}

.home__button:nth-child(2):hover{
  color: var(--title-color);
  background-color: var(--white-color);
  border-color: var(--title-color);
}

/*=============== FEATURES ===============*/
.features{
  position: relative;
}

.features__filter{
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-3);
}

.features__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--h3-font-size);
  font-weight: var(--font-regular);
  padding: var(--mb-1) 0;
  align-self: center;
  cursor: pointer;
  width: 80%;
}

.features__item:hover{
  color: var(--soft-red-color);
}

.features__item:nth-child(1),
.features__item:nth-child(3){
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: hsl(0, 0%, 90%);
}

.features__card{
  display: none;
  gap: var(--mb-3);
}

.features__card:nth-child(1){
  display: grid;
}

.features__handle{
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.features__handle::after{
  content: '';
  position: absolute;
  left: 0%;
  width: 200px;
  height: 300px;
  background-color: var(--soft-blue-color);
  border-radius: 0rem 0rem 10rem 10rem;
  transform: rotate(-90deg) translate(-40px, 50px);
}

.features__img{
  width: 300px;
  z-index: var(--z-tooltip);
}

.first-img{
  margin-top: var(--mb-3);
}

/* Active state */

.active-link{
  color: var(--title-color);
  transition: .4s;
}

.active-link::after{
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  width: 150px;
  background: var(--soft-red-color);
  transform: translate(0, 28px);
  left: calc(50% - 150px / 2);
  transition: 1s;
  /* visibility: hidden; */
}



/*=============== EXTENSIONS ===============*/
.extensions__container{
  gap: var(--mb-2-5);
}

.extensions__card{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: var(--mb-1-5);
  max-width: 300px;
  padding: var(--mb-1-5) 0;
  border-radius: var(--mb-1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: .4s;

  /* background-color: gray; */
}

.extensions__card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.extensions__img{
  width: 80px;
  margin: var(--mb-0-5);
}

.extensions__title{
  font-weight: var(--font-medium);
}

.extensions__data-card{
  display: grid;
  justify-items: center;
  gap: var(--mb-0-5);
  margin-bottom: var(--mb-0-5);
}

.extensions__button{
  width: 80%;
  margin-top: 0;
}

/*=============== QUESTIONS ===============*/
.questions{
  justify-items: center;
}

.questions__container{
  margin: 0 var(--mb-2);
  gap: var(--mb-2);
}

.questions__card{
  border-bottom: 3px solid;
  border-color: hsl(0, 0%, 90%);
}

.questions__question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.questions__question-title{
  font-size: 1.05rem;
  font-weight: var(--font-medium);
}

.questions__toggle{
  font-size: var(--big-font-size);
  color: var(--soft-blue-color);
  transition: .4s;
  transition: transform 1s;
}

.questions__toggle:hover{
  color: var(--soft-red-color);
}

.questions__answer{
  text-align: start;
  margin: var(--mb-1) var(--mb-2) var(--mb-1) 0;
  max-height: 0;
  overflow: hidden;
  transition: 1.4s ease-out;
}

.questions__button{
  margin-top: var(--mb-3-5);
}

/* Active state */
.active-answer{
  max-height: 350px;
}

.active-toggle{
  color: var(--soft-red-color);
  transform: rotate(180deg);
}

/*=============== CONTACT ===============*/
.contact{
  position: relative;
  background-color: var(--soft-blue-color);
  gap: var(--mb-2);
  margin-bottom: 0;
}

.contact__data{
  margin: var(--mb-3-5) var(--mb-1-5) 0 var(--mb-1-5);
  gap: var(--mb-0-5);
}

.section__subtitle{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--white-color);
}

.contact__title{
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--white-color);
}

.contact__container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--mb-3-5);
}

.contact__input{
  color: var(--title-color);
  background-color: var(--white-color);
  border-radius: .4rem;
  padding: var(--mb-1) var(--mb-1);
  margin-top: var(--mb-1-5);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  border: 2px solid transparent;
  box-shadow: 0 6px 4px hsla(0, 0%, 1%, .1);
  width: 85%;
  transition: .4s;
  z-index: var(--z-tooltip);
}

.contact__icon{
  position: absolute;
  visibility: hidden;
  right: 0;
  margin-top: calc(var(--mb-1-5) + 33px / 2);
  margin-right: 10%;
  /* transition: .4s; */
  z-index: var(--z-tooltip);
}

.contact__message{
  position: absolute;
  top: var(--mb-2-5);
  text-align: start;
  padding-left: var(--mb-1);
  padding-top: var(--mb-0-5);
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-regular);
  font-style: italic;
  width: 85%;
  background-color: var(--soft-red-color);
  border-radius: 0 0 .4rem .4rem;
  transition: .4s;
}

.contact__button{
  background-color: var(--soft-red-color);
  width: 85%;
}

/* Active states */
.input-error{
  border-color: var(--soft-red-color);
  box-shadow: 0 0 0 transparent;
}

.icon-error{
  visibility: visible;
}

.message-error{
  top: calc(54px + 15px);
}

.button-error{
  margin-top: var(--mb-2-5);
}

/*=============== FOOTER ===============*/
.footer{
  position: relative;
  background-color: var(--title-color);
  margin-bottom: 0;
}

.footer__container{
  justify-items: center;
  gap: var(--mb-1);
}

.footer__logo{
  width: 170px;
  margin-top: var(--mb-3);
}

.footer__links{
  display: grid;
  justify-items: center;
  margin: var(--mb-2) 0;
  gap: var(--mb-2);
}

.footer__link{
  font-size: var(--h3-font-size);
  font-weight: var(--font-light);
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: .4s;
}

.footer__link:hover{
  color: var(--soft-blue-color);
}

.footer__social{
  display: flex;
  gap: var(--mb-2-5);
  margin-bottom: var(--mb-2-5);
}

.footer__social-link{
  font-size: var(--big-font-size);
  transition: .4s;
}

.footer__social-link:hover{
  color: var(--soft-blue-color);
}

/*=============== MEDIA QUERIES ===============*/
/* For tiny devices */
@media screen and (max-width: 319px){
  .button{
    margin-top: var(--mb-1);
  }

  .home__img{
    width: 280px;
  }
  .home__buttons{
    flex-direction: column;
    gap: 0;
  }
  .home__handle::after{
    height: 271px;
    transform: rotate(90deg) translate(-10px, 46px);
  }

  .button-error{
    margin-top: var(--mb-2-5);
  }
}

/* For small devices */
@media screen and (max-width: 340px){
  .section__title{
    font-size: var(--h2-font-size);
  }
  .button{
    font-size: var(--small-font-size);
  }

  .home__button{
    width: 145px;
  }

  .features__img{
    width: 240px;
  }
  .features__handle::after{
    width: 170px;
    height: 260px;
    transform: rotate(-90deg) translate(-35px, 45px);
  }

  .extensions__card{
    max-width: 230px;
    gap: var(--mb-0-5);
  }

  .questions__button{
    margin-top: var(--mb-2);
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .data{
    gap: var(--mb-1-5);
    margin-bottom: var(--mb-3);
  }
  .description{
    max-width: 400px;
  }

  .nav-button{
    margin-top: var(--mb-3);
  }

  .home__img{
    width: 420px;
  }
  .home__handle::after{
    width: 260px;
    height: 470px;
    transform: rotate(90deg) translate(-52px, 105px);
  }

  .features__img{
    width: 380px;
  }
  .features__handle::after{
    width: 250px;
    height: 460px;
    transform: rotate(-90deg) translate(7px, 104px);
  }
}

@media screen and (min-width: 767px){
  .section__title{
    font-weight: var(--font-medium);
  }

  .header{
    padding: 0;
  }

  .nav{
    margin: var(--mb-1-5) var(--mb-2);
  }
  .nav__toggle,
  .nav__close,
  .nav__logo-alt,
  .nav__social{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    gap: var(--mb-1-5);
  }
  .nav__link{
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--title-color);
    letter-spacing: .1rem;
    padding: 0;
  }
  .nav__link:hover{
    color: var(--soft-red-color);
  }
  .nav__item:nth-child(1),
  .nav__item:nth-child(3){
  border-color: transparent;
  }
  .nav-button{
    background-color: var(--soft-red-color);
    border-color: var(--soft-red-color);
    color: var(--white-color);
    padding: var(--mb-0-75) var(--mb-1-5);
    margin-top: 0;
    box-shadow: 0 5px 5px hsl(0deg 0% 1% / 10%);
  }
  .nav-button:hover{
    background-color: var(--white-color);
    color: var(--soft-red-color);
  }

  .home{
    margin-top: calc(var(--header-height) + 29px + 6rem);
  }
  .home__container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .home__img{
    width: 400px;
  }
  .home__handle::after{
    width: 231px;
    height: 318px;
    transform: rotate(90deg) translate(24px, 44px);
  }
  .home__data{
    align-items: start;
    max-width: 370px;
    text-align: left;
    margin-left: var(--mb-1);
  }
  .home__title{
    text-align: left;
  }
  .home__description{
    text-align: left;
  }
  .home__buttons{
    margin-left: var(--mb-1);
  }

  .features__filter{
    flex-direction: row;
    justify-content: center;
  }
  .features__item{
    max-width: 230px;
    padding: var(--mb-1) var(--mb-1);
  }
  .features__item:nth-child(1),
  .features__item:nth-child(3){
    border-top: 0px solid;
    border-top-color: transparent;
  }
  .features__item:nth-child(2){
    border-bottom: 2px solid;
    border-color: hsl(0, 0%, 90%);
  }
  .active-link::after{
    left:auto;
    width: 230px;
    transform: translate(-16px, 30px);
  }
  .features__card{
    align-items: start;
    gap: var(--mb-1);
    grid-template-columns: 1fr 1fr;
  }
  .features__data-card{
    align-items: flex-start;
    margin-top: var(--mb-3);
  }
  .features__title-card{
    text-align: left;
    margin: 0;
  }
  .features__description-card{
    text-align: left;
  }
  .features__img{
    width: 320px;
    margin-top: 0;
    margin-left: var(--mb-1);
  }
  .features__handle::after {
    width: 215px;
    height: 354px;
    transform: rotate(-90deg) translate(-12px, 69px);
  }

  .extensions__container{
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--mb-1);
    margin: 0 var(--mb-1-5);
  }
  .extensions__card:nth-child(2){
    margin-top: var(--mb-3);
  }
  .extensions__card:nth-child(3){
    margin-top: calc(var(--mb-3) + var(--mb-3));
  }
  .extensions__button{
    padding: var(--mb-1) var(--mb-0-5);
  }
  .extensions__img{
    max-height: 78px;
  }
}